<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

    <div th:replace="~{ nav.html::navbar }"></div>

    <div class="detail">
        <h4>상세페이지</h4>
        <img th:src="@{'https://reakidshop.s3.ap-northeast-2.amazonaws.com/test/'} + ${data.image}">
        <h4 th:text="${data.title}">금도금 바지</h4>
        <p th:text="${data.price + '원'}">7억</p>
    </div>

    <form action="/comment" method="POST">
        <input name="content">
        <input name="parent" th:value =" ${data.id}" style = "display : none">
        <button type="submit">전송</button>
    </form>

    <div th:each="i : ${comment}">
        <p th:text="${i.content}"></p>
    </div>

</body>
</html>